#root {
  width: 500px;
}

 html {
    font-size: 20px;
 }

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.main {
    height: 550px;
    width: 100%;
    background: url('https://i.pinimg.com/736x/ad/c7/16/adc716d4210608f133be87ceb6e742f9.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    padding: 5px;
}

.heading-txt {
    padding: 2px;
    text-align: center;
    /* margin-top: 2px; */
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    font-size: 1.2rem;
    color: #f7f6f4;
}

.center-box {
    height: 95%;
    width: 100%;
    padding: 7px 0px;
}

.query-box {
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    font-size: 1.2rem;
   
}

.query-box input {
    height: 30px;
    width: 240px;
    padding-left: 7px;
    font-size: .8rem;
    border-radius: 20px;
    outline: 0;
    background: transparent;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    color: #f7f6f4;
}

.query-box button {
   padding: 5px 17px;
   font-size: .8rem;
   text-transform: uppercase;
   cursor: pointer;
   background: transparent;
   border: 1px solid rgba( 255, 255, 255, 0.3 );
   color: #f7f6f4;
}

.news-container {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
}

.news-info {
    position: relative;
    width: 100%;
    background: red;
    height: 200px;
    display: none;
    font-size: .3rem;
}

.display {
    display: block;
}

.title {
    font-size: .5rem;
    /* background: red; */
}